<link rel="stylesheet" href="/css/footer.css">
<footer>
    <div class="content">
        <div class="footerLogo"></div>
        <nav class="links">
            <a href="/">Home</a>
            <a href="/gallery">Gallery</a>
            <a href="/contact">Contact Us</a>
        </nav>
        <div class="social-links">
            <a href="https://www.instagram.com/haritharma/" target="_blank" class="social-icon instagram"></a>
            <a href="https://www.youtube.com/@haritharma" target="_blank" class="social-icon youtube"></a>
        </div>
    </div>
    <div class="credits">
        <div class="divider"></div>
        <div class="row">
            <p>©ATAN. All rights reserved.</p>
            <div class="footer-links">
                <a href="#privacy">Privacy Policy</a>
                <a href="#terms">Terms of Service</a>
                <a href="#cookies">Cookies Settings</a>
            </div>
        </div>
    </div>
</footer>