<link rel="stylesheet" href="css/navbar.css">
<div id="navbarLogoPurple">
    <a href="/">
        <img src="https://lh3.googleusercontent.com/fife/ALs6j_G7hjhsVV8FNxUauc1s8RF_OqJmp2HPD35NM-Qt0u-ic-G6cWHDwQLxDht60hiczEeGiX_wO9NUH_WGS2ffzw9_c7f2UHjbxB3idiaEU26SnP6bnV4RcVn6-vT9rpmmiLvAks-BgammyYPN0hS91XQInF9vmhZkpJDrPonzINN8C3b-DE6otcZfc4l1u9hhcUr4VIpqqQQv1_UwaTE2AIo0a_WUpZLzzSI-PViaOTy7v-Bl6ZEOQVF33Rh5-ReoKPvGG1SXhhO-2T1gIvifWcDmc0c56l-oLHvwpVrdiIhj8rC1n1j8JDjlx9rqbKGBSOxiz2G8C-ROLWIMrv2bo1RWwiMwNTlRL2vDKCfjaSFLKgQNxBy-W47BokgJTAE-LuxNtlObxAjEDD9jbluwzCOIhS9jv8LPZ9fhp9qIMoesmO4MzCIYjVORGs4Bq2LepH3KOy2ZTU07doVacdaoHv_mwgh3ndCX95qJeFHoJugNy8C71AWFTD1IxrgO0g54R-xUTTL1iaCAhwHXnCjtFoCJlIFhZ5ReQDDB77EiIGyy5KUEHs9cARD8fS3sFltngExNnB6aGkRKEyX4GXlNO0VMJCtXu_Jm7ZWbAEut1HnehJqOSaA-faV33zIBKwmVt7M1FZGiuIwIkf7gb2hjq_cOGQfT_PIwHUK7OjVYEh_pQcczNwQUGkTFdeecO5q-quws2MR7gupiDPQBVl880vop86x7uqI7C2CEHUG6QaQj59c3Hq5Kg3uu6qKM_U9tAmblNwJhGT7qXyhjv1yQ05U6a3AFpPa7iCRYzpsfuqP4KAGrCjfJEFDxUxlc4kzw0KURS2K70C6i00Q5Xg94Tu-LLkXVCb9uVli78q8KqJnjjHSMOazJb9koUDlrdMKU28yaeDOP2IaNly1RB9vo5zyjtyG4U79kb646TMv6OKYhm9fSZ-4aqfDbrHcDAPjsGoC80r5eV5q1RB89pRTPYsyJwbbJZIb3fQwYSKakPGrQQSSx8hJ26Fwy-Ki_WRR0RkFv0gaf6gD3t-irh5nAfK4-hSJmjQbZePnlCJugC2FDKaGQ_a7lWE2VEcRZ9clCkaOvg13__6CnPLbdnqOI2ECJr2v2Tbbv6C6Eo26B446p986lr7II0MkM5WHmD0qGI6We9944kC0OOaJI1ecTetJUmMWYHtqwzk8HAsGXzg2XAsfszL7v5My5sKtIU1fJey1z2DJYl8q2P-Roi2bcd9KVVD-9Z2aOE8wSZXpkZetj2M9hl0UMPKb3MGlzY_NBgfDaCG2uiRDujoQ_GZDNNjJYrgtbAF6SBjX9K_lRThDhB-RursVfQngN7_ha4UE0LFefRZttdTAZFQKAXHpPgP0ozubmg8vWjx-ruTuc_1weki4PgkUOH6qQcdabPj0_I4vNC3_zamE8Uc4P9sJS-qkRgX8hTnw_Gd2EtWoPL3nMlEQfCHRMELWmCuqOwrQQyAE7GITiriP7-wTZCorMPfdfwQQk_XJTmKB7KlqhFDpsPQg6p_VTh_OjeScj5hD5KeCq7-COwiyL_9B80DLgyH1n_pmcvkZk7yLISlFGrXs3qFjVx2MANOiZb1rjlu7RYkGHrBoB3b2W3ene7Sk4veVRTs-9iScoumi9tbxlWkx0gZ-cBLk2I8Oi=w1920-h940" alt="HT Productions Logo" referrerPolicy="no-referrer">
    </a>
</div>
<nav class="navbar">
    <ul>
        <li id="navLinkHome"><a href="/">Home</a></li>
        <li><a href="/GalleryCategories">Gallery</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
    <div class="hamburger" onclick="toggleMenu()">
        <div></div>
        <div></div>
        <div></div>
    </div>
    <ul class="mobile">
        <li><a href="/">Home</a></li>
        <li><a href="/GalleryCategories">Gallery</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
</nav>
<script>
    function toggleMenu() {
        const mobileMenu = document.querySelector('.navbar ul.mobile');
        mobileMenu.classList.toggle('show');
    }

    // Show/hide navbar on scroll
    let lastScrollTop = 0;
    window.addEventListener('scroll', function() {
        let currentScroll = window.pageYOffset || document.documentElement.scrollTop;
        const navbar = document.querySelector('.navbar');
        let scrollDiff = (lastScrollTop-currentScroll)
        if (currentScroll > lastScrollTop) {
            // Downscroll
            let maxUpPos = (Math.max(document.documentElement.clientHeight || 0, window.innerHeight || 0)*-9)/100
            let newPos = navbar.style.top;
            if ((newPos == "")){
                newPos = "0"
            }else if ((newPos.slice(-2) == "px")){
                newPos = newPos.slice(0,-2)
            }            
            navbar.style.top = Math.max(parseFloat(newPos)+scrollDiff,maxUpPos)+'px'; // Hide navbar
            // navbar.style.top = '-9vh'; // Hide navbar
        } else {
            // Upscroll
            // navbar.style.top = Math.min(newPos,downPos)+'vh'; // Hide navbar
            let newPos = navbar.style.top;
            if ((newPos == "")){
                newPos = "0"
            }else if ((newPos.slice(-2) == "px")){
                newPos = newPos.slice(0,-2)
            }
            navbar.style.top = Math.min(parseFloat(newPos)+scrollDiff,0)+'px'; // Hide navbar
            // navbar.style.top = '0'; // Show navbar
        }
        lastScrollTop = currentScroll <= 0 ? 0 : currentScroll; // For Mobile or negative scrolling
    }, false);
</script>