<link rel="stylesheet" href="/css/navbar.css">
<nav class="navbar">
    <div class="navLogo">
        <a href="/">
            <img src="/images/LogoPurple.png" id="navbarLogoPurple">
        </a>
    </div>
    <div class="navMenuBtn">
        <i class="fa fa-bars"></i>
    </div>
    <ul>
        <div id="navLinks">
            <li id="navLinkHome"><a href="/">Home</a></li>
            <li><a href="/gallerycategories">Gallery</a></li>
            <li><a href="/contact">Contact</a></li>
        </div>
    </ul>
</nav>