<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact - Hari's Portfolio</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <%- include('partials/navbar') %>
    <h1>Contact</h1>
    <form action="/contact" method="POST">
        <label for="firstName">First Name:</label>
        <input type="text" id="firstName" name="firstName" required>
        <label for="lastName">Last Name:</label>
        <input type="text" id="lastName" name="lastName" required>
        <label for="email">Email Address:</label>
        <input type="email" id="email" name="email" required>
        <label for="subject">Subject:</label>
        <input type="text" id="subject" name="subject" required>
        <label for="message">Message:</label>
        <textarea id="message" name="message" required></textarea>
        <label for="source">Where did you hear about us:</label>
        <select id="source" name="source" required>
            <option value="Google">Google</option>
            <option value="Instagram">Instagram</option>
            <option value="Recommendation">Recommendation</option>
        </select>
        <button type="submit">Submit</button>
    </form>
</body>
</html>
