<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery - Hari's Portfolio</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/gallery.css">
</head>
<body>
    <%- include('partials/navbar') %>
    <h1>Gallery</h1>
    <div class="section-card-container">
        <div class="section-card">
            <img src="https://i0.wp.com/digital-photography-school.com/wp-content/uploads/2013/08/1.-Moraine_final.jpg">
            <div class="section-card-title">
                <p >DANCE</p>
            </div>
        </div>
        <div class="section-card">
            <img src="https://media.istockphoto.com/id/1368628035/photo/brooklyn-bridge-at-sunset.jpg?s=612x612&w=0&k=20&c=hPbMbTYRAVNYWAUMkl6r62fPIjGVJTXzRURCyCfoG08=">
            <div class="section-card-title">
                <p >WEDDINGS?</p>
            </div>
        </div>
    </div>
</body>
</html>
