<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery - Hari's Portfolio</title>
    <!-- <link rel="stylesheet" href="/css/styles.css"> -->
    <link rel="stylesheet" href="/css/gallery.css">
</head>
<body>
    <!-- <%- include('partials/navbar') %> -->
    <header>
        <nav class="navbar">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/gallery">Gallery</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
        <h1>Gallery</h1>
    </header>
    <div class="section-card-container">
        <div class="section-card">
            <a href="/GalleryPages?page=Dance">
                <img src="https://i0.wp.com/digital-photography-school.com/wp-content/uploads/2013/08/1.-Moraine_final.jpg">
            </a>
            <div class="section-card-title">
                <a href="/GalleryPages?page=Dance">
                    <p class="section-card-p">DANCE</p>
                </a>
            </div>
        </div>
        <div class="section-card">
            <a href="https://cibc.com">
                <img src="https://media.istockphoto.com/id/1368628035/photo/brooklyn-bridge-at-sunset.jpg?s=612x612&w=0&k=20&c=hPbMbTYRAVNYWAUMkl6r62fPIjGVJTXzRURCyCfoG08=">
            </a>
            <div class="section-card-title">
                <a href="https://cibc.com">
                    <p class="section-card-p">WEDDINGS?</p>
                </a>
            </div>
        </div>
    </div>
</body>
</html>
