<!DOCTYPE html>
<html lang="en">
<head>
	<title>Gallery - Hari's Portfolio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="css/gallery.css">

	
    <script src="scripts/modernizr.custom.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>

    <script src=" https://cdn.jsdelivr.net/npm/lightgallery@2.7.2/lightgallery.min.js "></script>
    <link href=" https://cdn.jsdelivr.net/npm/lightgallery@2.7.2/css/lightgallery.min.css " rel="stylesheet">
    <link rel="stylesheet" href="css/global.css">

</head>
<body >
<!-- Nav section -->
<header>
    <%- include('partials/navbar') %>
</header>

<div class="main-content">
    <div class="animate__animated animate__fadeIn intro-section">
        <h1>DECOR GALLERY</h1>
        <p>The quick brown fox jumps over the lazy yellow dog. The quick brown lorem ipsum jumps over the lazy yellow dolor sit.</p>
    </div>
    <div class="filter-section">
        <h3>Filters</h3>
        <div class="filter-divider"></div>
        <div class="filter-group-section">
            <h4>Groups</h4>
            <a onclick="showGroup()" class="filter-group-header">
                <p>No filters applied</p>
                <p>+</p>
            </a>
            <div id="group-content" class="filter-group-content">
                <input  class="group-searchbox" placeholder="Search for a group..." type="text">
                <label class="checkboxpls">
                    <input type="checkbox" checked="checked">
                    <span class="checkmark"></span>One
                </label>
            </div>
        </div>
        <div class="filter-divider"></div>
        <div class="filter-group-section">
            <h4>Tags</h4>
            <a onclick="showTag()" class="filter-group-header">
                <p>No filters applied</p>
                <p>+</p>
            </a>
            <div id="tag-content" class="filter-group-content">
                <input  class="group-searchbox" placeholder="Search for a group..." type="text">
                <label class="checkboxpls">
                    <input type="checkbox" checked="checked">
                    <span class="checkmark"></span>One
                </label>
            </div>
        </div>
    </div>

    <div class="pictures-sections">
        <div class="hoverEffect">
        </div>
    </div>

    <div id="fullscreen-frame">
        <a onclick="closeFullscreen()" id="fullscreen-closebtn"></a>
        <div id="fullscreen-caption">
            <h1 id="fullscreen-caption-title">Two Cameras</h1>
            <small id="fullscreen-caption-text">A picture of two cameras taken with one camera.</small>
        </div>
    </div>

</div>

<footer>
    <%- include('partials/footer.ejs') %>
</footer>

<script>
    var count = 0;
    var data = []

</script>
<script src="scripts/gallery.js"></script>

</body>
</html>