<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery - Hari's Portfolio</title>
    <link rel="stylesheet" href="/css/gallerycategories.css">
    <script src="scripts/gallery.js"></script>
    <!-- <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script> -->
</head>

<body>
    <header>
        <%- include('partials/navbar') %>
    </header>

    <div class="main-content">
        <div class="intro-section">
            <h1>GALLERY CATEGORIES</h1>
            <p>The quick brown fox jumps over the lazy yellow dog. The quick brown lorem ipsum jumps over the lazy yellow dolor sit.</p>
        </div>
        <div class="pictures-sections">
            <div class="pictures-grid">
                <div class="picture-card-container"><div class="picture-card" style="background-image: url('images/gallery/img1.jpg')"></div></div>
                <div class="picture-card-container"><div class="picture-card" style="background-image: url('images/gallery/img2.jpg')"></div></div>
                <div class="picture-card-container"><div class="picture-card" style="background-image: url('images/gallery/img3.jpg')"></div></div>
                <div class="picture-card-container"><div class="picture-card" style="background-image: url('images/gallery/img4.jpg')"></div></div>

            </div>
        </div>
    </div>
    <footer>
        <%- include('partials/footer.ejs') %>
    </footer>
</body>

</html>


