<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HT Productions</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/global.css">
</head>
<body>
    <header>
        <!-- Navbar Start --->
        <%- include('partials/navbar') %>
        <!-- Navbar End --->
    </header>

    <div class="carousel-container">
        <div class="carousel">
            <!-- <img id="image0" src="https://lh3.googleusercontent.com/fife/ALs6j_GS-AAt6gAGiAUWJNyYAyvnaDkUm24tsqJiHzvfsExqVApgPIuN5sW6zmTrpvM8R3SqpsOmgdfNgisfJXsCnTkD9ojTNHCva8FmIc28EmpHURI4PhH7SquwHJb7bB2KDohWCh-xGJ-_fsqPZejVPrO7h36ilZH2vZKOqNrebdeJX0fLp3wxZv_k5C6x03c7Nht7q4RxEh9ZoG6gxLkldCIeGy4wfnJsCqBvm732ebrxT7COrO158Y11LAWN4m0mm7IoykL62UVZyp4Ly_jQFZNFR2BmMHOCF7NHUc6tHQxeK0eyg3VHqznjgKKLjKUUTSfQrFwUDoENPdn3xU544lcgVGUPR-ww-s7RPgjDVb13fPOUHncfFBHTQhJzwoXc3idwKOa3GYx-wh2YFrEtdKSykCoPPbL5HCLWuO2JVM7GORUL-VdPajlmjhTF50-f6N40DU8njA8-ZCkFg1aJBIuSMAFr3kjHhPKZL9PMF6wur8J51ecH-DrTpEQNwvEw2Q5dPbkmnkfTGc2f34-N6t4_YaobnOLl4f2LresdUAZTD3UWeDhvBPaR8AVc3DUbbKhVFTVvRse0ZNfAyfsIT9JHYL2DggoCH1tC8BMzcKXMUCjWwASDdFCvaYVPjZJmP8NTxZ7-5nBbyWpg1PjVLs1-zhx_NMvWflKCrX0YzB6rEy9wwd3ueaHpwK_ypiFcfxiImgoAONbQ59vOIiduunLBbHA72jTmUNNh5fKhODLOSFVQaJ07Z8-kA7M5nNrmSH_-w_NwNpJJhM5f2BtChjNguunzh9HyTgoFIwCJ0jXXi6j0tZUxvaDa2DdqAuajDeLzMmVfLfaBy7O_qKGfha46mmG1U2ifJU3haIlzP67CSm3VtGYIwUJQ8ZMD8alI-ND6B7FOvGHEU54lISDc-nQJKAv6YK2ABjr8m6u1FmeaSMv_MIeWt_IJHFsGUULE8Vx1aMIi-JLwc0LMRK2DZyboWk6XDfA-bqaPC5ZhPLGXCTdhR-eEn55-CgGMauIJNlHZ1MV-9RLN-cfrR1hmSZu4JAeNUtQRSaYN8sLScSk11qJvKrBPxd0GgBcVcXPELySF9Dqfj7wCR-JgdAHozkwW8T68zWw4LjYInlXk1fZUHLRfl2ettbFCA_76OBQzkWfnEa8k9RLMwUJWj9bzOqPInrr95inCH9H3c60Lg5CK_W-bW4I-sl_Q-BaFguV5nEHzfXXwIMA7A-3sgf6Rg08Yqlgd-6UpiR0QlsFkuJ122xd6Gvw6sAIY2_wCuZantwGDNL5J988TCAQbrZZfG9p8M8k7VT1Rma2cYjv3ynrxSPvqZT-GOMFj42gLN_fgaerN29iDKaingYl3SM5bvtl1o9Ypf4qMRGUz7Z5tpdZ6qYTRffOZISDzfkBMu2qdJNh_6vyBKOt0IDNkF25I_DekVs4a7gZqhy8yBXmyVSsXhkbkuL3Rm_b4IGP_92xoYKQBI_AKWtsxXrdWP3oA5BxSlCpOZ4-qKQrIiNeAeawtTLCHeJS6Y9wwi-lPku_DPlEY_24Dwok-GTPHAlu1NbwvzbGzogbdnRrop6ditvHFn-Cv8HB0b7rkA2O9srii7e-eB3Mv5TeovlWm9yBrcdIAZpm6KKv-zD7_PX-sn_8HgqsO-LC7nB4v=w1920-h940" alt="Slide 1"> -->
            <!-- <img id="image1" src="https://lh3.googleusercontent.com/fife/ALs6j_E34jB8oSYI40Vu6QEdBqPrk7bU_Ankn3ucJWto1InvsgsU9_te_nb2pSr9QWF3b_XZ6oOYInvpNpShbE04ZXZ6_xziJ_XUlZzutnXVfVXZg0cgDeInXoIgCP-3UoVwbF3tUGfPql7V2mJ2M5Qqxc-1LLx3faN6tJofhpBEb-DFJdeR9oregDwH7NlAUd3lX-KOBuYc9YVZsY6uVXGvFOu97U6Ile3mIuAhjGCHoGcgTeieClbmqJtBbBkSUl8AWKTIt63g34zAqujKU1LL9cNnMTYGXR3U7eVShizVmU_jE7uMp6O1STQBzANdvbR2XzidJ9vSMmBYC08DD9AdbfvApJuwQ4b-sqKP44e4iry6E1uqZ5pPiklMSCKG36HNEPYaUjLEKIomPgpCfsxiOQRGJSLEngjZ-YuYMMyuQRRRTrKOG8paIxdEG9hTBu3YihuZmUJb8I6UVMXt_Gy4gyFJ6xiY_RblJI2cjdPlo3jqJLfv278CcAU6lo9ms8RGiDyhU7uHRH082KfYFvLJAgYWgFRO3-Prs13i_BaT-GwqUzD4E21rTqSeQDUYmu71DSXryVI6YVbu2GYqjCV0NCe08RxLs4PusPu7_1x9pRdCKSnsXrnp8FjzgX22jQHddch8JQ8qm0NXfxLZIU8vfU8oCnpFt3zehVkbQKs9otmlZVkU_X9J2neRiFW2ep1RFQUhhbLHjcFLiLLk5ZZGg71Kj86T7k0ReHhT0-_n-vxj9aAqL7ihh6b5Pbm2ysppDS59muRp1z4l1q1kN8fiG1C7Gk7VwsdMmKQSVqaukdvm9aZyJX_0HoGtYIBhl3JaStQk36vJh7PGfQBJ1T1OkkuFbCginG_ntxV0bSkcQCUwK1eJjb9mt8LMnEXtMPQLUoNvsfUBV6Br6MyXsfWVkdhg5ko9EbBPAILtObecx9SutcQNaRIusC3R3Z6vPXPOC5HVza6_2zK2h8qjCe-inh_VKRvM5mCmS3q0S7iEQfMW2HBUn7IGyNaarPiQIVyOESVxPyRtd-i-IJqAZHMRhDbYg46EDnOboj9qtozZveTCPY3U5sdnS1UCb2u0wH1c84FdKpg5g5LuXZhcYxMS4OYGV1uYankGNaL1V80H7xq9EH3icwLSLEHI-fAFbRAFuY_jnlNbL6zq93pG4VvEWxCg4rUZv_aiu2jiRhTXqL5zbxCRs5guJvs3Caj-6zHfmnm4zeg2HRDCZX7VaMVlr_e4OfnIjNXXusVSuIWUp-l9JXRnc3d4rULlh-u21QTLeKQvlZGakjbCX_jXRRyfiA0ozu_IQ9xb_UBGslXNwAG6n8kp94dxn5bYcHDwidoSKpieJJ8KaWFMak3pPrI6dTJijNin8z9L-CYEEPF4WqobMVF8tZ7fvZiH88thUX3wmXBReTqIBX5S68_BMWA-41D0zA_DZgTfZlsjTjGyF8t4t4blGedmJFNFUgrXuWm4CMWEtaeCzQijAHIc-BtA1Zn-XOwImU5taXhZPvojHWlF1IufRdyZ8yG2-_jXKgvOFgisUlFg-o7Y6nxgWa3lVIA0rTIhbzd8yNZMzCrBn7k1y0mepMp6A54ASw69gS6qkTb73uIhJ9D1kXC8aCVR8zlWTTlEA1h9ZfVtPzWgbam80SicPPaEbgSDx-IF=w1920-h940" alt="Slide 2"> -->
            <!-- <img id="image2" src="https://lh3.googleusercontent.com/fife/ALs6j_EanI1NBadDhHzi2ilNEnqFPBXVTLIh6qRXOE3m0b0Rj8Pw4X5YnRpYWsqiCF0hgxHxVePje6VWUX42fUkrPPJ7yCCgLtECudmnsv9Cs1I6judg5sa-g9jK9Z8yC78Zju7z6UKnB7cdps6e7jmLAWlcQ4Z-O4Kf1BfTTv7yl-SSuLrPBGaymm91a_cC1ZtvhPH26hPcRb2cKjhJxf8uWFYjF7qpacz23gySPfBS4kSex4-ffnwy23lLc6cnNkLp-GXtto3F6pRRzjj7JalHdm9VuFojtKdRSVJNzDvT1giMYXZYGbWx0ERvn-qgx6i-9SoflWpnAYwfwxIeheKfQyYnU44VLuVApZQ5HGPGascBrBZQ2fx1GRocY3FRA5FhcIKMOUSFnA_foumPqjjBxcT8AaOchLvGG1bxGBVCA-6Ev-Jr24SeWfUs7QzpQIHiMCEc7--1tNUX_3G159UHZITNZEGxRHrhVGMAqlf93nyNDS-13ns7S4EM1v0a1X2VoLk-jt2fppPTzvBveTQBanqNxVgUY0s-cQTO7LdeTMn_GdR64SD95HATqXycM4ZOOhav5CWZhkjpUDZy5aU8MGp5cgeJR809PZn_7FqLOmnZhYHb1FVr_ErNfAJndsBPPyAmD8eJUo-AHNGFtUFF1roaXy7HwfWePkdRRVCDvqecEkAnDt6CowxMJ59whwFX8GTJIgtOo1Dnxx_Y3U4Z-HtuEdNwkUvRk8do7kUFjJaWttw6R5OLNYiea5QlEGVR9TnnsPQKVMB7DTs-hZxBr9m1f-T1vFpNumyHz5_YhjkDabwebP6_ibo7B7aPgv4e5iqsHQ56lrKGWTnlrkTCrVYqEEbN1JQ3Y3hJUW2LcOJqxIMtjihXcbs_4qAWc2BLme5nOJkzs1AhDxI0DTeAVzlQ2-Eoyx2J1vf_dZPpVNBQ_k-BlPz7xnLzYhKplcHkc2TiVFl0hAzAHvdSyObqD9vXCiYxFKtGraVwLyiwOVJAI6aviiKyjebLqHsVYMoHitD-RyNDtbIfojeyk90Dzb464j0Q5LBW4kk52QHfrdgzhg7k-ANBzho62cknsyTPk4zz9PN6XNEjG3Ak1iBpnF2eY2JFPNt82TVmXtzveD_trFcS35U7JXhQHhNx5tDYW9Sq-Sm1LC5BqQVgNrG-iYviE8zIQqy6JkaXBhVSBx3OzARLuhdFtCvuNOMZ2u4-5YKiVde2UhP2gEc6rNowwg-yHXbKKbWef58Q2aL9OMcLG41_pYSwGw9-qgZxndhcitPmXNkEb-7Nv5IwPin4vFHpBx9-0ejamM2hO_EYCrnCcIXxwyng05ulzu4wK9ylkqELqvQWU4D0sA0hy_RLwNFq0chmC3dzI3j0doyw9H5FobLbXmC5Y54jbJl7SD62QulpTiiMUk06nszmSn781WT8FWusdcPImMJftWvpfnXfoe8IHqglKos-UIQ0GAejF4k1SgnHBdvXi0QHmE-lPbRRLYmXeayM-oItX_R6EljmwCKYdqeUZB_OeMqRy-ERNf1Xfu0Fs0Bwr0TfOzvhrh4eb9XW5uvHlifWOGhlSyXtI4Qm5zasPpKMcYTyjYEbek_m25ZF3WDdcjWWjt59stA8ES2_qXkyV4slLBbdwaVsmUdTtJ0EQpNV=w1920-h940" alt="Slide 3"> -->
            <!-- <img id="image3" src="https://lh3.googleusercontent.com/fife/ALs6j_ECXkbrD5YSvCRH0ai7f3fEq4y70AFcvDEaONfuRNSXVeW_7Uen82Pq9yv3wwYoOD1VmelN51G7YR83rOQPpw80LheHN2NhZxiAVzOlVQsNDehdpPy3G708HMsZKKTE-w6Jr0ewIA3sGvFBZkBScHv3KRboneaeKUmaFl0mtJ7Aqj32Fycm2KP4mbxTd8Lkyy4_lFGXFhPa9TuMNOuEAm7WmCGc47sRmEn-ds1Ohno0nO5dg1IjiDRgS7gD6KDgEInV5DQ1jXYCqUECiKWyCsJrA94tHHzgQlaPi5jpYWsNUPYsytfGilEnwPrFZdnzmKeOlyT7CoCF9jf9ZiujUbSEwTcUVFnkEMXTQALdeX624iTZIOCux_jchXmqMA_hWIVyfanhQ59t0l7zc8nQS6fLeboK9Y8MPc781ZOAZcQ5C_T1eO5PXnfOUofqAaPjmNVuMSeYXd7iSHOCB-XevbyzA8cdqntZsDS-TsqaqiUMNXrYF7zyfiA39TDljJ9E1gVQm9mt7PAEsmI_RaWB7pd-nYMR0npa24apjCcLS9IDLPV9gBw4Z91QJw00wljeVX_sE3JbHjPNS88OnEajaIhsmIVfuU56HGVh93krqGr-hcrrYWMD8Wzebl-eGZTXXEM5ltlUkUYmdjGLC5MbwxPQhdSRTnVNene8gkUXTnbkfHy6PbpGMCsYop7AjPFzym54Mr9ltQz2vUQD1yWSlKNmtPb4bU-I3DmnYUvdbsOd6PeCxbw_U75ZKFYk-0D8rzCOahFwO-65cr7Y7X2u5jk90zNQNnoZNHzFf7wxJV8DsbSXIUiVJgANNRJlpPVqGDi7c9Xm-jcgnZ1HdsRVqN_XhXRq0R2zAAvrYMLkF-UXTJjaG5wJGvURXpDZJxr-fY79ESHLuvH3qwS92EV1f_mF1AlEpsjA8T4tWRndeI7smH-9bC73MOfqRlUChsGQpqPvGE_B-xoJcnHpXxkGJ409Apkz7KI65kyoZTjFUZ5JiQtviYhB3oiPj5G-fp1t5yXMHVGsIR2x6udeLAGRaCQjDWMeUfYPlvKWtI-bu8qYhnEHu1AZYzMwxwwCIlRIZQzQzwjKClu157AJ2Wj-vYHNrDLhD7LCiHVUndpPkSMmHXS-DzmDWbXZVJJSEKhKMfBRdgWheZIUTz814BXMjMha8CMwC9Xg9gJVCcyumIwW_7ZMj40KNgNY3yvnaiXaV4LsGQOB2B_xGf_-6KCi9xLUDw2swniBopo1cziYAmPKN6WU0D1vZdkestO3h5vGDoi_f6zUfKfgGXwhDUpmi6ZteQD_67n8xHrlJB78a6xW2Bf5KKv2TWbzgU849gdVO_RO2piWdg9O5Vr8BWyZQ9z1EVkK8YHbB4BBXXfefLDZRBYgNxV8wEc6vouk9BsY0dhStk4K7j_1SeaFGmW7q2FbHdTCpZw3vyqOnc2GOpP1geCa_fSaE2C4pAn9iMZrfDl2dtejjKBP7iRbhPWuH8oBB_iw8XOERbDJvGMm96oC6ZQiW_i3hWu9sbMU2Oq4ABdZvnqDJ8ODK2mcMiYofEcs88BpUQEftPOYRdSCw8fWcE8bOjZSJfwzAeMDTkvzSzTtkk67NCySxcQX88g6XArqa6JPqNx3YbLMqG94BCbkoDGzrVk-QhA=w1920-h940" alt="Slide 4"> -->
        </div>
        <div class="overlay">
            <img src="https://lh3.googleusercontent.com/fife/ALs6j_G7hjhsVV8FNxUauc1s8RF_OqJmp2HPD35NM-Qt0u-ic-G6cWHDwQLxDht60hiczEeGiX_wO9NUH_WGS2ffzw9_c7f2UHjbxB3idiaEU26SnP6bnV4RcVn6-vT9rpmmiLvAks-BgammyYPN0hS91XQInF9vmhZkpJDrPonzINN8C3b-DE6otcZfc4l1u9hhcUr4VIpqqQQv1_UwaTE2AIo0a_WUpZLzzSI-PViaOTy7v-Bl6ZEOQVF33Rh5-ReoKPvGG1SXhhO-2T1gIvifWcDmc0c56l-oLHvwpVrdiIhj8rC1n1j8JDjlx9rqbKGBSOxiz2G8C-ROLWIMrv2bo1RWwiMwNTlRL2vDKCfjaSFLKgQNxBy-W47BokgJTAE-LuxNtlObxAjEDD9jbluwzCOIhS9jv8LPZ9fhp9qIMoesmO4MzCIYjVORGs4Bq2LepH3KOy2ZTU07doVacdaoHv_mwgh3ndCX95qJeFHoJugNy8C71AWFTD1IxrgO0g54R-xUTTL1iaCAhwHXnCjtFoCJlIFhZ5ReQDDB77EiIGyy5KUEHs9cARD8fS3sFltngExNnB6aGkRKEyX4GXlNO0VMJCtXu_Jm7ZWbAEut1HnehJqOSaA-faV33zIBKwmVt7M1FZGiuIwIkf7gb2hjq_cOGQfT_PIwHUK7OjVYEh_pQcczNwQUGkTFdeecO5q-quws2MR7gupiDPQBVl880vop86x7uqI7C2CEHUG6QaQj59c3Hq5Kg3uu6qKM_U9tAmblNwJhGT7qXyhjv1yQ05U6a3AFpPa7iCRYzpsfuqP4KAGrCjfJEFDxUxlc4kzw0KURS2K70C6i00Q5Xg94Tu-LLkXVCb9uVli78q8KqJnjjHSMOazJb9koUDlrdMKU28yaeDOP2IaNly1RB9vo5zyjtyG4U79kb646TMv6OKYhm9fSZ-4aqfDbrHcDAPjsGoC80r5eV5q1RB89pRTPYsyJwbbJZIb3fQwYSKakPGrQQSSx8hJ26Fwy-Ki_WRR0RkFv0gaf6gD3t-irh5nAfK4-hSJmjQbZePnlCJugC2FDKaGQ_a7lWE2VEcRZ9clCkaOvg13__6CnPLbdnqOI2ECJr2v2Tbbv6C6Eo26B446p986lr7II0MkM5WHmD0qGI6We9944kC0OOaJI1ecTetJUmMWYHtqwzk8HAsGXzg2XAsfszL7v5My5sKtIU1fJey1z2DJYl8q2P-Roi2bcd9KVVD-9Z2aOE8wSZXpkZetj2M9hl0UMPKb3MGlzY_NBgfDaCG2uiRDujoQ_GZDNNjJYrgtbAF6SBjX9K_lRThDhB-RursVfQngN7_ha4UE0LFefRZttdTAZFQKAXHpPgP0ozubmg8vWjx-ruTuc_1weki4PgkUOH6qQcdabPj0_I4vNC3_zamE8Uc4P9sJS-qkRgX8hTnw_Gd2EtWoPL3nMlEQfCHRMELWmCuqOwrQQyAE7GITiriP7-wTZCorMPfdfwQQk_XJTmKB7KlqhFDpsPQg6p_VTh_OjeScj5hD5KeCq7-COwiyL_9B80DLgyH1n_pmcvkZk7yLISlFGrXs3qFjVx2MANOiZb1rjlu7RYkGHrBoB3b2W3ene7Sk4veVRTs-9iScoumi9tbxlWkx0gZ-cBLk2I8Oi=w1920-h940" alt="HT Productions Logo" class="logo" referrerPolicy="no-referrer">
            <h1>Welcome to HT Productions</h1>
            <p>Your premier destination for videography services.</p>
            <div class="buttons">
                <a href="/gallery" class="button black-button">Gallery</a>
                <a href="/contact" class="button transparent-button">Contact</a>
            </div>
        </div>
    </div>

    <div class="about-section">
        <div class="about-content">
            <img src="https://lh3.googleusercontent.com/fife/ALs6j_HBjln7i_fqSifidDBt3qcSHs0m-PiT41JnCJxrY1UxWzZ4wpByhGTFJZdDTlQjTa3IqUcZltHZo5w_F9BJrF9Wiwr7BIOcpkDifTAZJ4PoCFgx547Vewf7b_9QmXH6X4OIx-Bk8hxnuNV0zAhpUuGW8oplZWd1RdV4FX6sNBeVfQojWNpd6c77zJ3PnJjwqqDy8szxgL_ta8gtChZcYK-x8Avf0Q8fDGJqOUzCKYUD2N7YLYOijTJxvwKt617g1_vjrBg8mwWqkqmxIXohR38xf6a6YIfvBRIbzAWwlW818K7EwoaTHcAkyHZzS8V2GjRcc7mbWk03kDyucQ6a8ZFgLPBi0XAflZ05hEanW7VfVKkSsSlOtafPlfvNy9IDid99FoKvIccLyHCGzqu5V-0dh8YfThaAr962XImp8EDARg4ZfLZu5DdR-NdK4iMUguVxfJ94bb_8HzfA1frT7_gW-Lk7zTWq7dBxj0w8-QJhKFTsCh6jeRbYemdFjh4v6Dr-EK9H_7t-OyP8N3NRvPD2TARuOOy27ZF0TtKeMYrWr7J3gYOo23JEMAZbCoTO8zG_-tuxj79GmlhPc1ATA_KGHozvNr2HPb9V1Zy-hseL-Cjcbkq4lKg3R3w3av3YftZ5jfD6Ux3sBLwVcIfbuzrauAclw3BMeRZqeTGszOvs9OhpKiR0CJH8Y29Dt6Gzih90VbFwLU_M5g9LGV1EKH0TZl3EEaLKvgAHNz2QAgWgnUhM2MRkEZxx3h3aLxkH5P36kqCOAQUoS9q1FeILsk2UrXzi3LoZ1IFmkGWkln8UD63Kn03W-rL57D3sKNHHL6G1WLBAgmXCI0SwLbv-rYFz3qSgMY9icg82Ok89jUggyaeB2sGa1bLugE4k01cWX2KyKAexAHDeyycec8_mwsHE0L4zLvC5GvGVE15kuL0GDHM7JbwYGyUGPVi2Sh8AMzLqqAdKO2j1-mmHZ8BsuuiFlr5mQzlNmGrNFHVkJQKI5wfYtvIx_VNpbbgHyQA0bchBdmmskl5sSrYYpbrmiYPfNR83sIBpBNZBSq_QE7Fvf7lxECg0gYZlsuBjtK-xgsbmcFjWPYjSSzZ-1CTectWvnPSq2m3fSTE9JZoVqalpcWZKD5s9ToFb4VMnwuIUOTGM6PXxhubBhBR3cQsmtvDIOJUgrDdWUD18ZO4b5b6mzkFhcM73MQrUWbmTfQzuJWuXo3AYOxVH8q8T4KplufNgAihfhaHNJvvdyT_CoTJh0Qg-zruNFa785uQc-UKuja21hGHh2sqvJgjEWKIRA4JOjLPuiNP0ZASilBTgWyQv_GBaCFPfmFoy9B0uh3UamjTIVDfDRrHizkErmJr5IQP9UfhOrIkFk_BXLIrFG0Qf5H_z7-0DfY0lZaTvKoxOM9GqWrw3vJ6oMl6VTbXC3pFkDpCVR8RsdpF-IP9IixFoE7OPmnq5cCLWMN8c5MlDlkfpAMh6gQHDNSBc5f6QS0ninK3keia8vzaLvhi3gpjHtvxvf8qDYw0psm4XgcOxqbVLgyaEz8WCSyCWkESjCoQE1D7xb0I4BtCP4cSe9rluIrUJibf3shHvdqqdR5Dq25dqRibB8TvPfxvU7533qeU80A-JZW7lOHKR1Lj4ZFUge9n7kUtLDT1t=w1920-h940" alt="Our Team" class="about-image" referrerPolicy="no-referrer">
            <div class="about-text">
                <h2>About Us</h2>
                <p>We are a team of passionate videographers dedicated to capturing your special moments. From weddings to corporate events, we provide top-notch videography services to meet your needs.</p>
            </div>
        </div>
    </div>

    <div class="video-carousel-container">
        <div class="video-carousel">
            <video id="video0" src="https://file-examples.com/storage/fe3f15b9da66a36baa1b51a/2017/04/file_example_MP4_1280_10MG.mp4" controls></video>
            <video id="video1" src="https://interactive-examples.mdn.mozilla.net/media/cc0-videos/flower.webm" controls></video>
            <video id="video2" src="https://filesamples.com/samples/video/mp4/sample_1280x720.mp4" controls></video>
            <video id="video3" src="https://videos.pexels.com/video-files/20708668/20708668-sd_360_640_24fps.mp4" controls></video>
        </div>
        <div class="view-more-button">
            <a href="#" class="button transparent-button">View More</a>
        </div>
    </div>

    <div class="testimonial-section">
        <h2>Testimonials</h2> <!-- Testimonial Heading -->
        <div class="stars">
            ★★★★★
        </div>
        <blockquote>
            "HT Productions exceeded our expectations. The video quality was amazing, and the team was incredibly professional."
        </blockquote>
        <p class="testimonial-author">John Doe, CEO of Company</p>
    </div>

    <!-- Footer Start -->
    <%- include('partials/footer') %>
    <!-- Footer End -->

    <script src="scripts/home.js"></script>
</body>
</html>