

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header, footer {
  flex-shrink: 0;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
  align-items: center;
  overflow: hidden;
  margin-top: 9vh;
}

.left-side {
  background-color: #1E1E1E;
  color: #A8A8A8;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
  width: 100%;
  box-shadow: 0 1vw 1.5vw 0 rgba(0, 0, 0, 0.2), 0 1vw 2vw 0 rgba(0, 0, 0, 0.19);
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  position: relative;
  z-index: 2;
  box-sizing: border-box;
}

.left-side .ContactUscontent {
  text-align: center;
  max-width: 95%;
  animation: fadeInText 2s;
}

.left-side h1 {
  color: #AF52DE;
  font-weight: bold;
  margin-bottom: 1em;
}

.left-side p {
  margin-bottom: 2em;
}

.contact-info a {
  display: block;
  margin-bottom: 1em;
  color: #A8A8A8;
  text-decoration: none;
}

.contact-info a i {
  margin-right: 0.5em;
}

.right-side {
  background-color: #FFFFFF;
  padding: 2em;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: -25px;
  position: relative;
  z-index: 1;
  border-top-left-radius: 25px;
  box-sizing: border-box;
}

.right-side h1 {
  color: #000000;
  font-weight: bold;
  margin-bottom: 1em;
}

.form-group {
  width: 100%;
  max-width: 600px;
  box-sizing: border-box;
  padding: 0 1em;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 1em;
  width: 100%;
  box-sizing: border-box;
}

.form-field {
  flex: 1;
  min-width: 45%;
  box-sizing: border-box;
}

.form-field:nth-child(2) {
  margin-left: 10%;
}

.form-group label {
  display: block;
  margin-bottom: 0.5em;
  color: #000000;
}

.form-group input, .form-group select, .form-group textarea {
  width: 100%;
  padding: 0.5em;
  border: 1px solid #000000;
  border-radius: 0;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

.form-row.full-width .form-field {
  min-width: 100%;
}

.form-row.date-time .form-field {
  min-width: 100%;
  box-sizing: border-box;
}

.form-row.time-fields .form-field {
  min-width: 45%;
  box-sizing: border-box;
}

.form-row.time-fields .form-field:nth-child(2) {
  margin-left: 10%;
}

.form-row.message-box .form-field {
  min-width: 100%;
  box-sizing: border-box;
}

.form-group textarea {
  height: 150px;
}

.form-group .required {
  color: red;
}

button {
  background-color: #000000;
  color: #FFFFFF;
  padding: 1em 2em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 1em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

button:hover {
  background-color: #AF52DE;
  transform: scale(1.05);
}

/* Calendar Popup */
.popup {
  display: flex;
  position: relative;
  /* display: inline-block; */
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  background-color: #555;
  color: #fff;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;

  /* width: 352.984px; */
  /* width: 500px; */
  /* width: 100%; */


  /* width: 100%; */
  /* text-align: center; */
  /* width: 160px; */
  /* left: 50%; */
  /* margin-left: -80px; */
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 0.25s;
  animation: fadeIn 0.25s
}

#calendar{
  height: 40vh;
}

#calendarWarning{
  display: flex;
  /* visibility: hidden; */
  justify-content: center;
  color: red;
}

.tsp-time-wrapper{
  background-color: ghostwhite;
}

#slotPickerPopupDiv{
  display: flex;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}


@keyframes fadeInText {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

@media (min-width: 768px) {
  .container {
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
  }

  .left-side {
    width: 50%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
  }

  .right-side {
    width: 50%;
    margin-top: 0;
    border-top-left-radius: 25px;
  }

  .form-row.date-time .form-field,
  .form-row.time-fields .form-field {
    min-width: 30%;
    margin-left: 1%;
  }

  .form-row.date-time .form-field:first-child,
  .form-row.time-fields .form-field:first-child {
    margin-left: 0;
  }
}

.fc .fc-daygrid-body-unbalanced .fc-daygrid-day-events{
  /* height: 0px; */
  min-height: 1em;
}

@media (max-width: 767px) {



  /* .fc .fc-button {
    font-size: 0.5em;
  }
  */
  .fc .fc-toolbar-title{
    font-size: 3vh;
  } 

  .fc a{
    font-size: 2vh;
  }



  .container {
    flex-direction: column;
    align-items: stretch;
  }

  .left-side {
    align-items: flex-start;
    padding: 0em;
    height: 70vh;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
  }

  .left-side h1{
    margin-block-start: 0.5vh;
    margin-block-end: 0.5vh;
    font-size: 5vh;
  }

  .left-side p{
    margin-block-start: 0.5vh;
    /* margin-block-end: 0.5vh; */
    font-size: 3vh;
  }
  .left-side a{
    /* color:#AF52DE; */
    margin-block-end: 0.5vh;
    font-size: 3vh;

  }

  .right-side {
    margin-top: -25px;
    border-top-left-radius: 0;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
  }

  .tsp-time-wrapper{
    font-size: 5vw;
  }

  .fc .fc-toolbar.fc-header-toolbar{
    margin-bottom: 1vh;
  }

  .fc .fc-button{
    font-size: 2vh;
  }

  tbody{
    overflow-y: scroll;
    overflow: -moz-scrollbars-vertical; 
    scrollbar-color: rebeccapurple green; 
  }

}
