@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

/* Footer */
footer {
    position: relative;
    width: 100%;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: -75;
    padding: 30px 0;
}

/* Content */
.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    max-width: 1440px;
    padding: 0 32px;
    margin-bottom: 20px;
}

.footerLogo {
    width: 150px;
    height: 95px;
    background: url('https://lh3.googleusercontent.com/fife/ALs6j_GgNQGzY2mWeseCtSU6D949dFnfwFrn8JUMn3MCYnx-zQpjStMCxjEoN_YkOQ5x28zKuP7Nue6KBTCyWciyShgI1KKyzJaJnOz7KqNadZeCFjtry2teiR9NsS7MBo4e9gkuS4yYxA5W7WuL1k2gEiWrnWy-4gQ6-lkKK5SqWe9e5-W8OKRxBI9kKD4HKKspS3nnEXGVe8VVb_7paxalBDcLq_HMDdlcYnRF5p_MrCpEQ1mJgvWQq739cR5FjPlnWHteL-35W3I8yS0oC8PgyEAbwdYVyynFkftXBvTVEHDf1lukCMo5Y4T_Oep_HqEZPCK0PadwsTSFDeruxwyI2W6RWNgMJZU5UFddD6Q3IjI9oiFJKNxt8Z7smiMCrCesCuKJC8JexIYgni32vqXBoTAk01NByvdpCzWbbKsx4kCMZvwHurXg0k4_Sqgb0EhAH12jVlhtXT6dhsZsbYgbdWmT8pJ_KdAmma2Nwt8E4DzHV-QYhxM3WVS98k3WXArxOdCHoiBeAKRofW7z3MEfjk7_BzxMlY08BkEmuRSLgZGw8NYxHpLwB2_cyUr2D0ZjhJ7WdrFKUvrO4HAUs6KpJBdsChX8wy6mxbUTOGmy-CA68ZQvmP5-lC08Sjk5fgipJQgEpgLMGvwjhNalXN8U7EUpLJFtjjSBLN-pOBE43eC2Oc2EEOlpcSzh0ZHeiQuW6FklQYxIEcQ6XSx2n44s85fncUVaJdUFDQL86ZWFDEdyqHwjm17C2B-cRtiuoyFV2axaj1Y8JAC6zkzgK_rkNhS8vXuAvSCCRe2GnP-v4V2198FAZMKe-pWR1B1tbaer3NRYWH-kj_0EmYcN3f9Pn3RYva_FXKiFKLHfoxhmr_Xd-H-41qMwwa_GIbPhaJo-sykG75xD9AmSp0_qtGwjI0Vp4CPCh_YzVhX6zWYsjSpo_GY2tpLpvl5vgpV3SBTUgg0hq6ZovTgXQH6Ya7uY668AuSXpW6qAerkZIFp_jXqjRb2eUIf9hgRct8FnC6Kknr53xjHVaaYT2D0MKig8qkgDD21aV-ZHADC3ws-wsAgqqp927sxPyIcQ7pWC57Whd41wGpavhz49EOz9F_uBBiULxO6Q5r4F6nH3znUnSetCY4cXaA8db3YuHNJ3y8ifnlXRqRjdTX839GmcdYHBNt8CC-4u1vy_xAyAmfM2F08q8XBUZww-zNqB8RNq_9-Bd0SPDvMlPpa7VxS3g8pxhWpMBCzP1OFmfIgxXEJIsTYqLk3dNJ1Dkq_ga5OqErshxdWGSHinm_WmwZ6vP7HrTpt8uvI6O1VOwdTBPjtk1H6tH6Ds1yd2_N_zqGzQwfVtnI75er53Fwk5wrWYw6D7l7ECtdFQuDEvYJyQjDR3Db3zGkLc7YbtKq1BtT6Iy3hGKgWpqiuL-iXrD01oWGVQb4DqotyppLaVycSP4pP8tbJWYw2lgDbbrilOBxE3p0d-lwzc-6zzo2_ym5wrzSmOPXipagrcUTfP4kyhOL72o6-pFncKNmQNw0R5Roe689xNHzv_aLO5USu5-Osj9fSz9kUAcP8L1lz_B-8shTrUG4gaNdnQ_wRV0LorC9C6RbkB91ZbcAv1JxJxZB1LePhFPPVYXg-FbtDs_dmcTbxcHH4cvJ_tD7Ob1GxV=w1920-h940') no-repeat center/contain;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 64px;
}

.links a {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #000000;
    text-decoration: none;
    transition: transform 0.2s, font-weight 0.2s, color 0.2s;
}

.links a:hover {
    transform: scale(1.1);
    font-weight: bold;
    color: #AF52DE;
}

/* Social Links */
.social-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 12px; 
}

.social-icon {
    width: 32px;
    height: 32px;
    background-size: cover;
}

.instagram {
    width: 45px;
    height: 45px;
    background: url('https://lh3.googleusercontent.com/fife/ALs6j_E7twNYcQEfOxNEEScj1i9F656Bl0TqbRc6jKVcc4QTckp8GEo0R4kYDwfzRdUDR_drOqWIUamcl73R_UQ8yV4tCwNdHlHmiKvxuJdpICH9GLADnakq-BmJuYgOpB7DjvGqk_9DvZ0pRPjHKgmiti3KA4tuuWcg2EORx8x00MRTIq2LC9iKgmpAjLpOAPoTDXShl9mtvF1jAYP_Y12SZiCyawKdIaWCyzTmly3vJX50FOKFvy0TtzBdGrZ2x-VtwZAnF5kTD6fTWTTLGxE8_IVMDmfXIzINVqtEfjPEX7EHi7ACx2ufeVBRlptyW9maPO1vYeUGgtaDmacaZSSWQFSF9tZISHsDdTR-olWqTiZmzam5kr_0nN2bS4vlbUAUSWUjXJ6wvOwHqvD74MGIXzoZqZmotkNnxxnR2G0zTGfjoilz7avU11vlvRHvBz0V_MtnaDPpmTi_kF4HETn20yIleF_J0ov__3VUPr-dIpc4fr_CjTrfdTaXfu79j6vW-gwpjcTZu4kyloqkyV_znhTyX3mh0DNla90h04AZVqkEW6bEj3sxQuFpesaGljNyCrvKhy6r2Xg_dFxv49hzIdzy16QQDWirRqBqbTWYDtUApxUCaLFDUerHegAGP0Zx1bjRRehFf8WMOhjFpRvVQZCS0POLtLcZWBT7Iw_ThKiHS9kzg_iVI4Ilry2Y_uBSAxQnF3jZUDhEJKeN-VzwfIuSHM1g26KhZLpJVtvF1o5k_DEIA1zmOtmEgb_QKA8SxANCuB62KEMDs1tm7qFXTF2y1dN_PRgUeCx7dJXoNUTE14HENKY1XOFbsXOiRBwkSaiW2Q-UWIOExu41OXrGYUYZh3-7eaHmkDPbnff_o8sJBpByzh7A9gvndUa1ymylA7xxNuAGjBhCv4749bc7gUYsZAhXvSDX97969nk1pCB2p-FiG2BiEPeqFFcngu2mgceWhY5EOQSXC1mUYoQkarSWIr5BfJwUI8Jjg5YdlR9ubWRpqI3KaLbg6MhqRCxpsqWeNyNWxixtV4vdbh_3bXa-eD6pyYBf4p-9l4Weeq-P3EZomCrZfKB8UcBwtOCKIAeWriKWpMHfD7CE8_R4ki2F4GbFaJjjumZIGrHzZpXymJSSlZ8huT0lDs-qnR-cY_kqYkeRs-3zVP0ASpDXFAoMh8WYWCjAcZFEWS54kCoyEkPj4PjpF7s2Ozc5dthsEtGmRuMcgm4MXpvsL2VVjhKJPfHVoidk7gef0qLth1ILVr0giM8QXYlojjaKeuufa06_Xx32vhWRE4ZgvHsXjj6peEq1qf5P9FH6Jfx3Ie4TRfRv57T8N7g0J4e0TFB7iNNzVQE5RffRmVrH6AgCvOo29nrr6S1heVFhB4WSqSrnMC8aXCLRZLHOpom4kqoJ_vuypE8syuDpq3xJQx2-XfiY3hUNNnltbpjkJ-hPEel88zdcp5mb7eLB8T4e_VyvHtzflg-VblYXsYTzmb38g8KH2V6Kzbg9OlNJ26awNfhJx_8N1zyDOC8z5vgJei2TmchhrxAn0JeUaXqduYKGt9pSeuf4hIdfAT6POc3X6fBYa_bu0VtXEN2UXyT13Csusv1gcMvp19Mq_PGVJ3Oz9mZtthjXYOoryHOVU88sh5u2WRN8-Ot8KoU=w1920-h940') no-repeat center/contain;
}

.youtube {
    background: url('https://lh3.googleusercontent.com/fife/ALs6j_Hm-Mujd4RQGepdE0lXPXSnHwCV0gAVxLM3_opgYawkt8kpCBB9ToOhSkHp_aBwea6AjXY4hWkrwH1HPqqJrxyig_h3kZGf3ZmoBUILcx6eeTQPw6cS6WIR-gy1jhKSYGA9erpMEA7YiTCtqf2L9PWbpAQ1OvjVSBZG7_LxgUbSvAionXaS5_MGmrqJYPWVgC3lhJmYCRdGDrBhl7lChWUp1ZcqKbQ-18PeVERCrsIlWPOk26x8OY6W3CCeetQi-Vw3agKce_VerbU6P4EkRkYKb4nVyVDWVrahXw7qJfr7R-iywwfSerQ_oDKUMscokQZxdX2x493rGIUuyUPOvw8vgGSC1JclcbzyOWGZs9y-hqjJBkLIo0d-i3iA3LOiOzHeh2BwN3_2JoPxLjvC9UWNCSTwACSIeOZGEDpr5wn5S6C0rv7IbDUnQycMUKmPrOEiYluhflKqWMQYnfxwN0CQ-qXAoJli0phDd9lfHpjday1Eg_aEam1S2XjBBHE9AM1ktUG5VtHQd4fK4SMLj_FkQoVrqGKV5TaPwui7RbCY9FPIsNWoGXfuygOUznEltP5LGNt-NTlvCe7K3hnl2qTpZSM2B-kTbxGt0CHVlnV2LhV1-f3CDCAwF3cX4PG9R7yVNVIqAsy3u9Nh0aM4-gDaXo51oSkM4e9pvhIV-KxldrW9ZwkhZixRhy4fD16VJCE81ZUXNBqeGg3zyGiIalCMHAsDsmO4aJu-nmiHFYVm6i4q289Y0FnIvUCTu3Z4Q2v2cUh2Z5sKyk2EEOVjCuRmugqOeB1OQZ37rqHfPKKyZpn80ci7gMsCucnBhwPEtr72zHiiGX2hnqkHMcE19G-2Sfi8ZgTsgKtcLksTMH6fuvrXeBmcziA91hSUEvWx5j3JB9rO1W7tWjIAIbSYf_-0r4adNaWQcI5pB_mF3W1FsqJf-6_NwheW2FiIfMHamVBh-_LV1rn8kxkKjxN9akhbXvnxr8ZW_nclmlh6Efrhg1j117e9myTZMTWOaD8iOLTWjLHjnw3mDS4oOKHKoOm8BaB0CHrgR0WEvCg8alM00zTZW8OYYaV4TKeNXgyildL3creG15nI6NEhvgdDehshw5L8vrj41YxsZ7vW4q8JAyhPIQSZxY2N4aDeQsc1FXgpnTe8PA5Tv4hJ0qtbE3ae-fk10WMTQ8DIHn4mz0Or_64sQmf1OpjYQ1s5XlRiQ276r_3gj6zn8TsSk_zbGvGwQ9bo_I_N6owJhplimwl8oZEFdX-kajkfz-2DEtnP3PeUz-p3sidMDUkfZSOA9oZMy0cdlkMjyk3A7rNAGRiF_jkHfMc3Hsty0emyXG7j8Hvu5FDREVQjq1I6Oxo5bBeonPsm7qp7VRP9UDx7so9Oc9w9nlrzr2j1zgAFOlZh48OUMR1w9cnfmNjIEi8usXiT9Bxz9twQQMI-CLWLWEeoebyb55eyM1_kNdi5nK5g7bOTIk4XTGO_abe2xZzxKfHIYUQnpX-ZruhYiOzHXtP9G6vE3FTn3gBWJvWEsHhxwwAaeQziJQGDYBaSWEoxOo_fid2NzFZb4cnpqQW-d8oRk5oT2oYcM0HUJpcDS1LvxRVJKr1RtW-04rbCkU2mKFVdn3P4erhonDoa5KBMFjIJiL5rfWwaN2H5=w1920-h940') no-repeat center/contain;
}

/* Credits */
.credits {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    padding: 20px 0 30px; /* Added padding at the bottom */
}

.divider {
    width: 100%;
    height: 1px;
    background: #000000;
    border: 1px solid #000000;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px; /* Increased gap */
    padding: 20px 0; /* Added padding to move the text lower */
    text-align: center;
}

.row p, .footer-links a {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #000000;
    margin: 0;
}

.footer-links {
    display: flex;
    flex-direction: row;
    gap: 40px; /* Increased gap */
    justify-content: center;
}

.footer-links a {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .content {
        flex-direction: column;
        align-items: center;
        gap: 16px;
        padding: 0 16px;
    }

    .links {
        gap: 32px;

        /* Shifted to the right */
        /* transform: translateX(7%);  */
    }

    .row {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 20px 16px; /* Adjusted padding for proper centering */
    }

    .footer-links {
        flex-direction: column;
        gap: 16px;
    }

    .divider {
        width: 90%;
    }
}
