
.card-container{
    flex-wrap: wrap;
    display: flex;

    /* Horizontal alignment */
    justify-content: center; 
    /* Vertical alignment */
    align-items: center; 

}

.card{
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;

    overflow: hidden;
    /* height: 50%; */
    width: 30vh;
    height: 40vh;
    padding: 5vh;

}

.vidcard{
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;

    overflow: hidden;
    /* height: 50%; */
    padding: 5vh;

    /* background-color:grey; */
    object-fit: cover;

}

.ytcard{
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;

    overflow: hidden;

    /* width: 40vh; */
    /* height: 53.3vh; */
    width: 30vh;
    height: 40vh;


    padding: 5vh;

}

.cardMedia {
    /* height:200%; */
    /* clip-path: xywh(0 0px 50% 50% ); */

    /* position: relative; */
    /* top: -1vw; */
    /* left: -10vh; */
    overflow: hidden;
    

}

.cardVideo {
    width: 30vh;
    height: 40vh;
    /* object-fit: cover; */
    object-fit: fill;
}
.test1{
    width: 30vh;
    height: 40vh;   
    /* background-position: 0 -50px;  */
    /* background-size: 1000px; */

}


.popupContainer{
    display: none;
}
.popupMedia{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* width: 50%;  */
    /* height: 50%;  */
    padding: 20px;
    /* background-color: #f0f0f0; */
    /* border: 1px solid #ccc; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.popupButton{
    border: #FFFFFF;
    border-style: solid;
    width:fit-content;


    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


/* 1st centered title */
.card-title {
    position:relative;
    color: rgb(255, 255, 255);
    bottom: 50%;
    text-align: center;
    font-size: 16px;
}
.card-p{
    color: rgb(255, 255, 255);
}
a{
    text-decoration: none;

}

.card:hover {
    /* background-color: rgba(41, 41, 41, 0.1); */
    opacity: 0.5;
}