@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;800&family=VT323&display=swap");

body {
    position: relative;
    z-index: -100;
    margin: 0;
    /* overflow-x: hidden; */
    font-family: 'Poppins', sans-serif;
}

.main-content {
    display: flex;
    align-items: center;
    flex-direction: column;

    /* bootstrap carryovers */
    line-height: 1.42857143;
}

.intro-section {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding-top: 4%;
    width: 48vw;
}

.intro-section h1 {
    font-size: 48px;
    font-weight: 100;

    /* bootstrap carryovers */
    margin-top: 20px;
    margin-bottom: 10px;
    line-height: 1.1;
}

.intro-section p {
    padding: 1%;
    font-size: 18px;

    /* bootstrap carryovers */
    margin: 0 0 10px;
}


.filter-section {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 15vw;
    top: 45vh;
    left: 2vw;
    font-family: 'Poppins', sans-serif;
    /* border-color: black; */
    border-color: lightgray;
    border-width: thin;
    border-style: groove;
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
}

.filter-section h3 {
    font-weight: 100;
}

.filter-section h4 {
    font-weight: 100;
}

.filter-section label {
    font-weight: 100;
}

.group-searchbox {
    width: -webkit-fill-available;
}

.active,
.filter-group-header:hover {
    /* background-color: #ccc; */
    color: purple;
}

.filter-group-header {
    display: flex;
    justify-content: space-between;
    padding: 0.5vw;
}

.filter-group-collapsible {
    background-color: white;
    color: #444;
    cursor: pointer;
    padding-right: 1vw;
    border: none;
    text-align: right;
    outline: none;
    font-size: smaller;
    margin: 0 0 10px;
}

.filter-group-content {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.filter-divider {
    border-color: lightgray;
    border-width: thin;
    border-style: groove;
    border-top: 0;
}



.pictures-sections {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-around;
    padding: 4%;
}

.pictures-grid {
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.picture-card {
    width: 20vw;
    height: 20vw;
    /* 30vw is needed for phone screens */
    /* width:30vw; */
    /* height:30vw; */
    background-position: center;
    background-size: cover;
    background-origin: content-box;
    background-clip: content-box;
    /* padding: 3%;  */

    /* bootstrap carryovers */
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.picture-card-container{
    margin: 1vh 0.5vw;
}











/* Hover card */
.pictures-grid figure{
	display: inline-block;

	-webkit-perspective: 1700px;
	-moz-perspective: 1700px;
	perspective: 1700px;

	-webkit-perspective-origin: 0 50%;
	-moz-perspective-origin: 0 50%;
	perspective-origin: 0 50%;

	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}


/* .pictures-grid figure > div {
	overflow: hidden;
} */
.picture-card-container  {
	overflow: hidden;
}

.picture-card{
	max-width: 100%;
	
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;
}

.picture-card:hover{
	-webkit-transform: translateX(25%);
	-moz-transform: translateX(25%);
	-ms-transform: translateX(25%);
	transform: translateX(25%);
}

.picture-card-container figcaption {
	position: absolute;
	top: 0;
	left: 0;
	background: #304352;


	height: 100%;
	width: 50%;
	opacity: 0;
	
	-webkit-transform: rotateY(-90deg);
	-moz-transform: rotateY(-90deg);
	transform: rotateY(-90deg);

	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	transform-origin: 0 0;

	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
	transition: transform 0.4s, opacity 0.1s 0.3s;
}

.pictures-grid .picture-card-container:hover figcaption{
	opacity: 1;
	-webkit-transform: rotateY(0deg);
	-moz-transform: rotateY(0deg);
	transform: rotateY(0deg);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s;
	transition: transform 0.4s, opacity 0.1s;
}


