

.main-content {
    display: flex;
    align-items: center;
    flex-direction: column;

    /* bootstrap carryovers */
    line-height: 1.42857143;

    font-family: 'Poppins', sans-serif;
    margin-top: 9vh;
}

/* Intro  */
.intro-section {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding-top: 4%;
    width: 48vw;
}

.intro-section h1 {
    font-size: 48px;
    font-weight: 100;

    /* bootstrap carryovers */
    margin-top: 20px;
    margin-bottom: 10px;
    line-height: 1.1;
}

.intro-section p {
    padding: 1%;
    font-size: 18px;

    /* bootstrap carryovers */
    margin: 0 0 10px;
}


/* Filters */
.filter-section {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 12vw;
    top: 45vh;
    left: 2vw;
    font-family: 'Poppins', sans-serif;
    /* border-color: black; */
    border-color: lightgray;
    border-width: thin;
    border-style: groove;
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
}

.filter-section h3 {
    font-weight: 100;
}

.filter-section h4 {
    font-weight: 100;
}

.filter-section label {
    font-weight: 100;
}

.group-searchbox {
    width: -webkit-fill-available;
}

.active,
.filter-group-header:hover {
    /* background-color: #ccc; */
    color: purple;
}

.filter-group-header {
    display: flex;
    justify-content: space-between;
    padding: 0.5vw;
}

.filter-group-collapsible {
    background-color: white;
    color: #444;
    cursor: pointer;
    padding-right: 1vw;
    border: none;
    text-align: right;
    outline: none;
    font-size: smaller;
    margin: 0 0 10px;
}

.filter-group-content {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.filter-divider {
    border-color: lightgray;
    border-width: thin;
    border-style: groove;
    border-top: 0;
}



/* Gallery */
.pictures-sections {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-around;
    padding: 4% 16% 4% 16%;
}

.hoverEffect {
    display: grid;
    /* grid-template-columns: 33% 33% 33%; */
    grid-template-columns: 50% 50%;
}

.picture-card-container {
    margin: 1vh 0.5vw;
}

.picture-card {
    display: block;
    line-height: 0;
    /* 30vw is needed for phone screens */
    /* width:30vw; */
    /* height:30vw; */
    background-position: center;
    background-size: cover;
    background-origin: content-box;
    background-clip: content-box;
    /* padding: 3%;  */

    /* bootstrap carryovers */
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    box-shadow: 0 1vw 1.5vw 0 rgba(0, 0, 0, 0.2), 0 1vw 2vw 0 rgba(0, 0, 0, 0.19);
}

.hoverEffect figcaption h1 {
    font-weight: 200;
}

.more-button {
    color: white;
    background-color: #181818;
    height: min-content;
    padding: 0.4rem 1.6rem;
    border-radius: 5em;
    font-size: var(1.8rem);
    line-height: 1;
    margin-top: 10%;

    -webkit-transition: background-color 0.4s;
	-moz-transition: background-color 0.4s;
    transition: background-color 0.4s;
}

.more-button:hover {
    background-color: lightgray;
}

a:-webkit-any-link {
    text-decoration: none !important;
}


/* Hover card */
.hoverEffect figure {
    display: inline-block;

    -webkit-perspective: 1700px;
    -moz-perspective: 1700px;
    perspective: 1700px;

    -webkit-perspective-origin: 0 50%;
    -moz-perspective-origin: 0 50%;
    perspective-origin: 0 50%;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.hoverEffect figure>div {
    overflow: hidden;
}

.hoverEffect figure img {
    max-width: 100%;

    -webkit-transition: -webkit-transform 0.4s;
    -moz-transition: -moz-transform 0.4s;
    transition: transform 0.4s;
}

.hoverEffect figure:hover img {
    -webkit-transform: translateX(25%);
    -moz-transform: translateX(25%);
    -ms-transform: translateX(25%);
    transform: translateX(25%);
}

.hoverEffect figcaption {
    position: absolute;
    top: 0;
    left: 0;
    /* background: #304352; */
    background: darkgray;


    height: 100%;
    width: 50%;
    opacity: 0;

    -webkit-transform: rotateY(-90deg);
    -moz-transform: rotateY(-90deg);
    transform: rotateY(-90deg);

    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    transform-origin: 0 0;

    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;

    -webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
    -moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
    transition: transform 0.4s, opacity 0.1s 0.3s;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
}

.hoverEffect figure:hover figcaption {
    opacity: 1;
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
    -moz-transition: -moz-transform 0.4s, opacity 0.1s;
    transition: transform 0.4s, opacity 0.1s;
}

/* Full screen section */
#fullscreen-frame{
    z-index: -100;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%; 
    height: 100%; 
    padding: 20px;
    background-color: #f0f0f0;
    /* border: 1px solid #ccc; */

    opacity: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#fullscreen-content{
    width: 68%; 
    box-shadow: 0 1vw 1.5vw 0 rgba(0, 0, 0, 0.2), 0 1vw 2vw 0 rgba(0, 0, 0, 0.19);
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    /* height: 50%;  */
}

#fullscreen-closebtn:after{
    content: "\00d7"; /* This will render the 'X' */ 

}

#fullscreen-closebtn{
    display: flex;
    position: fixed;
    top: 5%;
    right: 10%;
    font-size:xx-large;

    background-color: #99999963;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    
    height: 3vw;
    width: 3vw;

    justify-content: center;
    align-items: center;

    -webkit-transition: background-color 0.4s;
	-moz-transition: background-color 0.4s;
    transition: background-color 0.4s;
}

#fullscreen-closebtn:hover{
    background-color: #444 !important;
}

#fullscreen-caption{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (width < 768px) {
    .intro-section {
        width: 90vw;
    }

    .intro-section h1 {
        font-size: 12vw;
        font-weight: 100;
    }

    .intro-section p {
        padding: 1%;
        font-size: 5vw;
    }

    .filter-section {
        display: none;
    }

    .hoverEffect {
        grid-template-columns: 100%;
    }

    .pictures-sections {
        padding: 4% 4% 4% 4%;
    }

    .hoverEffect figcaption h1 {
        font-weight: 200;
        font-size: 8vw;
    }

    .hoverEffect figcaption small {
        display: none;
        font-weight: 200;
        font-size: 2vw;
    }



    #fullscreen-closebtn{
        display: flex;
        position: fixed;
        top: 6%;
        right: 8%;
        font-size:xx-large;
        
    }

    #fullscreen-content{
        display: flex;

        width: 90%; 
        box-shadow: 0 1vw 1.5vw 0 rgba(0, 0, 0, 0.2), 0 1vw 2vw 0 rgba(0, 0, 0, 0.19);
        /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
        /* height: 50%;  */
    }

    #fullscreen-caption h1{
        font-weight: 200;
    }


    #fullscreen-caption{
        text-align: center;
    }

}

