
.card-container{
    display: flex;
    flex-wrap: wrap;
    padding-top: 1vw;
    padding-left: 5vw;
}

.card{
    border: #FFFFFF;
    border-style: solid;

    /* overflow: auto; */
    overflow: hidden;


    /* border: 1px solid #ccc; */
    /* border-width: 0px; */
    /* marg    overflow: auto;
in: 10px; */
    padding: 10px;
    width: 30vh;
    height: 40vh;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}

.cardMedia {
    height:200%;
    position: relative;
    top: -1vw;
    left: -10vh;
    overflow: hidden;
}

.testThumb{
    /* height:200%; */
    position: relative;
    /* bottom: 10vw; */
    /* right: 10vw; */
    overflow: hidden;
}


.popupContainer{
    display: none;
}
.popupMedia{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%; /* or set a fixed width, e.g., width: 300px; */
    height: 50%; /* or set a fixed height, e.g., height: 200px; */
    padding: 20px;
    /* background-color: #f0f0f0; */
    /* border: 1px solid #ccc; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.popupButton{
    border: #FFFFFF;
    border-style: solid;
    width:fit-content;


    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* .ytPopup{ */
    /* position: absolute; */
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
    /* width: 50%; /* or set a fixed width, e.g., width: 300px; */
    /* height: auto; /* or set a fixed height, e.g., height: 200px; */
    /* padding: 20px; */
    /* background-color: #f0f0f0; */
    /* border: 1px solid #ccc; */
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */

/* } */

/* 1st centered title */
.card-title {
    position:relative;
    color: rgb(255, 255, 255);
    bottom: 50%;
    text-align: center;
    font-size: 16px;
}
.card-p{
    color: rgb(255, 255, 255);
}
a{
    text-decoration: none;

}

.card:hover {
    /* background-color: rgba(41, 41, 41, 0.1); */
    opacity: 0.5;
}