@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;800&family=VT323&display=swap");

body {
    position: relative;
    z-index: -100;
    margin: 0;
    /* overflow-x: hidden; */
    font-family: 'Poppins', sans-serif;
}

.main-content {
    display: flex;
    align-items: center;
    flex-direction: column;

    /* bootstrap carryovers */
    line-height: 1.42857143;
}

.intro-section {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding-top: 4%;
    width: 48vw;
}

.intro-section h1 {
    font-size: 48px;
    font-weight: 100;

    /* bootstrap carryovers */
    margin-top: 20px;
    margin-bottom: 10px;
    line-height: 1.1;
}

.intro-section p {
    padding: 1%;
    font-size: 18px;

    /* bootstrap carryovers */
    margin: 0 0 10px;
}


.pictures-sections {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-around;
    padding: 4%;

}

.pictures-grid {
    display: grid;
    grid-template-columns: 33% 33% 33%;

}

.picture-card {
    width: 20vw;
    height: 20vw;
    /* 30vw is needed for phone screens */
    /* width:30vw; */
    /* height:30vw; */
    background-position: center;
    background-size: cover;
    background-origin: content-box;
    background-clip: content-box;
    padding: 3%;

    /* bootstrap carryovers */
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.picture-card-container {}