@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;800&family=VT323&display=swap");

/* Navbar logo */
#navbarLogoPurple img {
    position: fixed;
    height: 5vh;
    left: 4vw;
    top: 2.2vh;
    z-index: 101;
}

/* Desktop navbar */
.navbar {
    width: 100%;
    background-color: #333;
    box-shadow: 0 1vw 1.5vw 0 rgba(0, 0, 0, 0.2), 0 1vw 2vw 0 rgba(0, 0, 0, 0.19);
    z-index: 100;
    position: fixed;
    top: 0;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 9vh;
    text-align: center;
}

.navbar li {
    display: inline-block;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 1.3vw 1.7vw;
    text-decoration: none;
    font-family: 'Poppins';
    font-size: 1.25em;
    transition: color 0.2s, font-size 0.2s;
}

.navbar li a:hover {
    color: #af52de;
    font-size: 1.5em;
}

#navLinkHome {
    position: relative;
    left: -0.5vw;
}

/* Hamburger menu icon for mobile */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    position: absolute;
    top: 2.2vh;
    right: 4vw;
}

.hamburger div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
    transition: 0.4s;
}

/* Mobile dropdown menu */
.navbar ul.mobile {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    background-color: #333;
    position: fixed;
    top: 9vh;
    right: 0;
    width: 50%;
    height: auto;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
}

.navbar ul.mobile li {
    display: block;
    width: 100%;
}

.navbar ul.mobile li a {
    padding: 15px;
    text-align: left;
    font-size: 1em;
}

.show {
    display: flex;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    #navbarLogoPurple {
        position: absolute;
        height: 5vh;
        left: 4vw;
        top: 2.2vh;
    }
    /* .navbar{
        transition:top 0.2s linear;
    } */
    .navbar ul {
        display: none; /* Hide the desktop navbar */
    }

    .hamburger {
        display: flex; /* Show the hamburger menu */
    }
    .hamburger div{
        border-style:groove;
        border-width: 0.1vh;
        border-radius: 0;
    }
    .navbar ul.mobile {
        display: none; /* Hide mobile menu by default */
    }

    .navbar ul.mobile.show {
        display: flex; /* Show mobile menu when active */
    }

}
