body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1E1E1E;
    padding: 20px;
    text-align: center;
}

.navbar {
    background-color: #333;
    overflow: hidden;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: #575757;
}

h1, h2 {
    color: #BB86FC;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.contact-info {
    width: 80%;
    max-width: 800px;
    text-align: center;
    margin-bottom: 40px;
    background-color: #2D2D2D;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.contact-info p, .contact-info a {
    color: #FFFFFF;
    font-size: 1.2em;
}

.contact-form {
    width: 80%;
    max-width: 800px;
    background-color: #2D2D2D;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form label {
    margin-top: 10px;
    font-size: 1.1em;
}

.contact-form input, .contact-form select {
    margin-top: 5px;
    padding: 10px;
    background-color: #3E3E3E;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

.contact-form input:focus, .contact-form select:focus {
    background-color: #505050;
    outline: none;
}

.contact-form textarea {
    margin-top: 5px;
    padding: 10px;
    background-color: #3E3E3E;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 1em;
    transition: background-color 0.3s ease;
    resize: vertical;
    height: 150px;
}


.contact-form textarea:focus {
    background-color: #505050;
    outline: none;
}

.contact-form h2 {
    text-align: center;
}

.contact-form button {
    margin-top: 20px;
    padding: 15px 20px; 
    background-color: #BB86FC;
    cursor: pointer;
    font-size: 1.1em;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    transition: background-color 0.3s ease;
    width: fit-content;
    align-self: center; 
}


.contact-form button:hover {
    background-color: #9B63D1;
}

footer {
    background-color: #1E1E1E;
    padding: 20px;
    text-align: center;
}

footer .social-media a {
    color: #BB86FC;
    margin: 0 10px;
    text-decoration: none;
    font-size: 1.2em;
}

footer .social-media a:hover {
    color: #9B63D1;
}

footer .gallery {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

footer .gallery img {
    width: 100px;
    height: 100px;
    margin: 0 10px;
    border-radius: 5px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

footer .gallery img:hover {
    transform: scale(1.1);
}
